#ds1 {
    width: 32vw;
    height: 20vh;
    top: 16.5vh;
    left: 14vw;
}
#ds2 {
    width: 26vw;
    height: 21.5vh;
    top: 32.5vh;
    left: 14vw;
}
#ds3 {
    width: 32.1vw;
    height: 37vh;
    top: 49.2vh;
    left: 14vw;
}
#ds4 {
    width: 26.5vw;
    height: 70vh;
    top: 16.5vh;
    left: 60vw;
}
#ds5 {
    width: 26.5vw;
    height: 69vh;
    top: 16.5vh;
    left: 36.5vw;
}

