a {
    position: absolute;
    font-family: 'Spectral SC';
    font-size: 1.5vw;
    text-shadow: -3px 3px 4px rgba(0.21482278406620026, 0.21377801895141602, 0.2660156190395355, 0.5);
    text-align: center;
}
.hero {
    right: 5vw;
    top: 21.5vh;
}
a:nth-of-type(1) {
    right: 10.5vw;
    top: 32vh;
}
a:nth-of-type(2) {
    right: 5vw;
    top: 21.5vh;
}
a:nth-of-type(3) {
    left: 27vw;
    bottom: 20.5vh;
}