body {
    overflow: hidden;
}
#os1 {
    top: 170px;
    left: 435px;
}
.oSPodval {
    position: absolute;
    display: block;
    height: 104px;
    width: 164px;
    bottom: 251px;
    left: 577px;
}
.oS {
    position: absolute;
    display: block;
    height: 238px;
    width: 170px;
    top: 152px;
    left: 297px;
}
#osp1 {
    top: 151px;
    left: 298px;
}